.services-container {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  font-family: 'Nunito', sans-serif;
}

.services-container h2 {
  text-align: center;
  color: #5d1212;
  margin-bottom: 30px;
}

.description {
  background-color: #f9f9f9;
  color: #333;
  cursor: pointer;
  padding: 15px 20px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  transition: background-color 0.2s ease;
  border-bottom: 1px solid #ddd;
}

.description:hover {
  background-color: #eee;
}

.description img {
  margin-right: 15px;
  width: 20px;
  height: 20px;
}

.panel {
  padding: 0 20px 15px 55px;
  background-color: #fff;
  display: none;
  overflow: hidden;
  color: #555;
  font-size: 16px;
  line-height: 1.6;
}


@media screen and (max-width: 768px) {
  .services-container {
    width: 100%;
    height: auto;
    margin: 30px 0 210px 0;
    padding: 1px 0;
  }
  
  .services-container h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .description {
    font-size: 14px;
    padding: 10px;
  }
  
  .panel {
    font-size: 14px;
    padding: 0 10px 10px 30px;
  }
  
}